---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">See <a href="{{site.author.googlescholar}}">my Google Scholar profile</a> for a complete list of papers. (<sup>*</sup> denotes equal contribution.)</div>
{% endif %}

{% include base_path %}

<!-- Loop through all publications in reverse order -->
{% for post in site.publications reversed %}
  <div class="publication-item">
    <!-- Paper title with link to the publication page -->
    <h3 class="publication-title">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h3>
    
    <!-- Author list -->
    {% if post.author %}
      <p class="publication-authors">{{ post.author }}</p>
    {% elsif post.authors %}
      <p class="publication-authors">{{ post.authors }}</p>
    {% endif %}

    <!-- Venue of publication -->
    {% if post.venue %}
      <p class="publication-venue">{{ post.venue }}</p>
    {% endif %}
  </div>
{% endfor %}
